.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    margin: auto 3vw !important;
    height: 80%;
}

.container > :nth-child(1) {
    height: 100%;
}

.container > :nth-child(2) {
    padding-top: 5vh;
    margin: 0;
    height: 100%;
    background-color: #2e2e2e;
}
.container > * > h2 {
    margin: auto 2vw;
    letter-spacing: 3px;
    text-align: center;
}

.container > * > p {
    margin: auto 5vw;
    letter-spacing: 3px;
    padding-bottom: 10px;
    text-align: left;
}

.containerBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 5vw 0vh ;
    border-radius: 5px;
    justify-content: flex-start;
    gap: 7px;
    overflow-y: scroll;
}

  .containerBtn > * {
    padding: 10px!important;
  }

  .containerBtn::-webkit-scrollbar {
    display: block;
    width: 10px;
    overflow: auto;
  border-radius: 5px;
  outline: 2px solid cornflowerblue;
  background: white;
  height: 100%;
  max-height: 10px; height: 10px;
  }
  
/* Track */
.containerBtn::-webkit-scrollbar-track {
    background: rgb(0,0,0);
    border: 4px solid transparent;
    background-clip: content-box;   /* THIS IS IMPORTANT */
    max-height: 100%; height: 10px;
}

/* Handle */
.containerBtn::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 5px;
    border: 3px solid white;
}
.containerBtn::-webkit-scrollbar-thumb:hover {
    background: black;
    border: 3px solid orange;
}


@media screen and (max-width: 1048px) {
    .container{
        margin: auto 3vw !important;
        height: auto;
    }
    .container > :nth-child(1) {
        width: 100%!important;
        height: 100%!important; /* or use a fixed height if needed */
      }
    .containerBtn {
        margin: 0px 4vw 3vh ;
        max-height: 350px !important;
    }
    .containerBtn > * {
        padding: 15px!important;
      }
    .container > * > img {
        height: 100% !important;
        width: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    body{
        height: 100% !important;
    }
    .container {
        flex-direction: column;
        margin: auto 5% !important;
        margin-top: 7vh;
    }
    .container > :nth-child(1) {
        width: 100%!important;
        height: 60%!important; /* or use a fixed height if needed */
      }
      .container > * > img {
        height: 100% !important;
        width: 100% !important;
    }
    .container > :nth-child(2) {
        padding-top: 2vh!important;
    }
    .containerBtn {
        max-height: none !important;
        display: grid;
        grid-template-columns: 1fr 1fr; /* 2 columns */
        grid-template-rows: 1fr 1fr; /* 2 rows */
        gap: 20px; /* Gap between grid items */
    }
    .moreImages{
        margin: 1vh !important;
    }
}
@media screen and (max-width: 456px) {
    .container {
        margin: auto 0% !important;
    }
    .container > :nth-child(1) {
        width: 100%!important;
        height: 100%!important; /* or use a fixed height if needed */
      }
      .container > * > img {
        height: 100% !important;
        width: 100% !important;
    }
    .container > * > h2 {
        font-size: 22px !important;
        letter-spacing: 1px !important;
    }
    
    .container > * > p {
        font-size: 11px !important;
        letter-spacing: 3px !important;
        font-weight: 900 !important;
    }
}


.playButton {
    position: absolute;
    top: 50%; /* Position button in the middle vertically */
    left: 50%; /* Position button in the middle horizontally */
    transform: translate(-50%, -50%) rotate(0deg); /* Center the button and initial rotation */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1; /* Ensure button is above the image */
    transition: transform 0.3s ease; /* Smooth transition for rotation */
  }
  
  .playButton.isPlaying {
    animation: spin 1s infinite linear; /* Start spinning animation when button is playing */
  }
  
  @keyframes spin {
    100% {
      transform: translate(-50%, -50%) rotate(360deg); /* Full rotation */
    }
  }
  
  .playIcon {
    font-size: 1.5rem; /* Adjust icon size */
  }

  .imgContainer {
    position: relative;
    display: inline-block;
  }