
.navBarSudo{
    width: 100vw;
    margin: 0px -20px auto !important;
    
.navBar:last-child {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto; /* Three columns */
    background-color: #333; /* Navbar background color */
    color: black; /* Text color */
    justify-content: space-between;
}

.navBar-1{
    grid-column:span 2;
    justify-content: flex-start !important;
}


.navBar-2 {
    grid-column:span 1;
}

.navBar-2 {
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* Add gap between items */
}

.navBar-3 {
    display: grid!important;
    background-color: #333; /* Match background color */
    grid-column: span 3; /* Span all columns except the last one */
    justify-content: center !important; /* Center items horizontally */
    width: 100%;
}

.navBar-3 > *{
    text-align: center;
}

.links-container{
    grid-column: span 3;
    justify-content: center;
    gap: 20px;
    
}
.links-container > * {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 16px;
    text-align: center;
    color:white;

}

.links-container > *:hover {
    color: black;
}

@media only screen and (min-width: 990px) {
    .navBar:last-child {
        justify-content: space-evenly!important;
    }
}



@media only screen and (max-width: 480px) {
    .navBar:last-child {
      grid-template-columns: auto; /* One column */
    }
  
    .links-container > * {
      font-size: 16px; /* Reduce font size */
      padding: 8px 12px; /* Reduce padding */
    }

}
}