.container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5vw !important;
    border-radius: 15px;
    background-color: #220b0be3;
    
}


.container form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container form > *{
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    text-align: center;
}

@media screen and (max-width: 1048px) {

}
@media screen and (max-width: 768px) {
    .container form{
        flex-direction: column;
    }
}
        
@media screen and (max-width: 456px) {
    .container{
        margin: auto 0 !important;
    }
}